Body {
    background-color: pink;
    text-align: center;
}

Form {
    max-width: 500px;
    text-align: left;
    padding: 30px;
    border: 2px solid black;
    border-radius: 15px;
}

input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.input-element {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

select {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

input(type="checkbox") {
    width: 15px;
    height: 15px;
}